<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Page not found</title>
    </head>
    <body>
        <h1 id="404">404, site does not exist</h1>
        <script>

        </script>
    </body>

</html>