<!DOCTYPE html>
<body>
    <head>
            <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>
        
        <h1>login to start using chat</h1>
        <a href='login'>login</a>
        
    </body>
</body>